<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1935d064dd.js" crossorigin="anonymous"></script>
    <title>Homepage</title>
</head>
<body>

    <h1>Home page only</h1>
    <div>
        <a href="/sign"><button class="but-log">Sign Up</button></a>
        <a href="/log"><button class="sign-up">Log In</button></a>
        <a href="/logout"><button class="sign-up">Log Out</button></a>

    </div>

    
</body>
</html>